.navbar-container{
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.navbar-logo{
    margin: 20px 0;
}

.navbar-menu{
    display: inline-block;
}

.navbar-menu ul{
    display: flex;
    list-style: none;
    
}

.navbar-menu li{
    margin: 20px;
}